// Custom bootstrap variables must be set or imported *before* bootstrap.

 @import "bootstrap";
.pickbook-color{
  background-color: #FFD700;
}

.header-menu{
  height: 5em;
}

.navbar-brand{
  text-align: center;
}
